.feature h2 {
  font-size: $base-size + 1;
  line-height: $base-height;
  font-weight: bold;
  color: #666666;
}
.feature p {
  font-size: $base-size - 1;
  color: #B3B3B3;
  font-weight: 300;
}
.feature img {
  height: 23px;
  margin-right: 5px;
}
