<div class="banner text-center" style="background-image: url('http://unsplash.it/1000/700/?image=0')">
  <div class="banner-shadow"></div>
  <div class="banner-content fade-and-slide">
    <h1>Startup tools</h1>
    <p>Very cool stuff, useful and smart</p>
    <a href="#" data-toggle="modal" data-target="#subscribe-modal" class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
